<div class="container">
  <div class="row">
    <div class="col">
      <h1>Podcasts</h1>

      <ul class="list-group">
        <% @podcasts.each do |podcast| %>
          <li class="list-group-item">
            <%= link_to podcast.title, podcast_path(podcast) %>
            (published <%= time_ago_in_words(podcast.published_at) %> ago)
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
