<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @podcast.title %></h1>

      <ul class="list-group">
        <% @podcast.episodes.order(published_at: :desc).each do |episode| %>
          <li class="list-group-item">
            <%= episode.title %>
            (published <%= time_ago_in_words(episode.published_at) %> ago)
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
